<section id="" class="wrap-checkout2">
 
   <div class="row checkout-container wrap-checkout-content2">
      <h2>Choose your size</h2>
      <p>"It’s not the size of the boat, but the motion of the ocean"</p>
       <div class="go-back-button-container left">
        <a ui-sref="form.plan" class="small button go-back-button">Plan</a>
       </div>
      <div class="circle-container">
      <div class="large-6 columns circlesize" ng-repeat="size in sizes">
        <div class="circle1-size circle-size" 
             ng-class="{active: $index == selected}" 
             ng-model="size" 
             ng-click="(formData.size = size)&&((select($index)))">
          <div class="opacity-content">
          <span>{{size.size}}.</span>
        </div>
        </div>
      </div>
     
    </div> <!-- /circle-container -->
  </div> 

    <div class="large-12 large-centered columns button-bottom-container">
        <div class="button-container">
        <a ng-if="formData.size.size.length > 0" ui-sref="form.length" class="large button checkout1-button">Great, Let's Move On</a>
        </div>
    </div>
  
</section> <!-- /checkout2 size-->