<section id="" class="wrap-checkout3">
 
   <div class="row checkout-container wrap-checkout-content3">
      <h2>Pre-subscribtion length</h2>
      <p>Begin below with a pre-subscription to Wraps. The first box is coming early 2016.</p>
      <div class="right vip-pass"><span>*Get 1 VIP party pass</span></div>
       <div class="go-back-button-container left">
        <a ui-sref="form.size" class="small button go-back-button">Your size</a>
       </div>
      <div class="circle-container">
      <div class="large-3 large-offset-1 columns circlelength" ng-repeat="sublength in sublengths">
        <div class="circle-length" 
             ng-class="{active: $index == selected}" 
             ng-model="subLength" 
             ng-click="(formData.subLength = sublength)&&((select($index)))">
          <div class="opacity-content">
          {{sublength.month}}<span> mo</span>
          <p>${{sublength.month * formData.plan.price}}</p>
        </div>
        </div>
      </div>
    </div> <!-- /circle-container -->
  </div> 

    <div class="large-12 large-centered columns button-bottom-container">
        <div class="button-container">
       <input ng-if="formData.subLength.month > 0" ng-click="checkout();" class="checkout3-button large button" type="submit" value="Okay, Let's checkout" class="button btn" id="checkoutButton" />
      
        <!--  <input type="submit" value="Okay, Let's checkout" class="button btn" /> -->

        </div>
    </div>
