<div class="row" ng-controller="ContactsCtrl">
	<div class="large-10 columns">
			<!-- ADD CONTACT -->
			<div data-alert ng-show="msg" class="alert-box">{{msg}}</div>
		<form ng-submit="addFormSubmit()">
		  		<h3>Add Contact</h3>
		  		<!-- Add Form -->
		  		<div class="row">
				    <div class="large-6 columns">
				      <label>Name:
				        <input type="text" ng-model="name" placeholder="Contact Name" required />
				      </label>
				    </div>
				    <div class="large-6 columns">
				      <label>Email:
				        <input type="text" ng-model="email" placeholder="Contact Email" required />
				      </label>
				    </div>
				 </div>
				 <div class="row">
				    <div class="large-12 columns">
				        <input type="submit" value="Sign Up" class="button" />
				    </div>
				 </div>
		</form>
	</div>
</div>
 <div class="row">
 	<div class="large-10 columns">
    <form action="/charge" method="post" id="chargeForm" class="payment">
    
        <label class="amount">
          <span>Enter an amount or leave blank for $10.00</span>
        </label>
   

      
      

       
        <input type="number" value="" placeholder="10" name="Amount" class="form-control" id="custom-donation-amount">
        
        <span class="input-group-btn">
          <button class="btn btn-default" id="charge-button" type="submit" value="Subscribe" name="subscribe">
            <span class="glyphicon glyphicon-circle-arrow-right">Purchase</span>
          </button>
        </span>
        
<!--  <div class="row">
  <div class="large-10 columns">       
 <form stripe-form="stripeCallback" name="checkoutForm">
    <input ng-model="number" placeholder="Card Number" 
             payments-format="card" payments-validate="card" name="card" />
    <input ng-model="expiry" placeholder="Expiration" 
             payments-format="expiry" payments-validate="expiry"                
             name="expiry" />
    <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" />
    <button type="submit">Submit</button>
</form>   
</div>
</div>
<div ng-if="checkoutForm.card.$invalid">
    Error: invalid card number!
</div> -->


      

      // <script>
      //   $(function(){
      //     var amount = 1000;
      //     var handler = StripeCheckout.configure({
      //       key: 'pk_test_ty1g4PE4P4ExkrtCufAzi7R5',
      //       image: "",
      //       token: function(token) {
      //         // Use the token to create the charge with a server-side script.
      //         // You can access the token ID with `token.id`
      //         // return false;
      //         var $input = $('<input type=hidden name=stripeToken />').val(token.id);
      //         $("#chargeForm").append($input).submit();
      //       }
      //     });
        
      //     document.getElementById('charge-button').addEventListener('click', function(e) {
      //       // This line is the only real modification...
      //       var val =$("#custom-donation-amount").val();
      //       if(val.length > 0) amount = val * 100;
      //       else {
      //         $("#custom-donation-amount").val(10);
      //       };
      //       handler.open({
      //         name: 'Wraps Condoms',
      //         description: 'Condom Order',
      //         // ... aside from this line where we use the value.
      //         amount: amount
      //       });
      //       e.preventDefault();
      //     });
      //     window.onpopstate= function() {

      //       handler.close();
      //     };
      //   });
      // </script>
    </form>
  </div>
  </div>
